<div th:fragment="header">
    <script type="text/javascript">
        function time(){
            var d = new Date();
            var h = d.getHours();
            var m = check(d.getMinutes());
            var s = check(d.getSeconds());
            document.getElementById("time").innerHTML = h+":"+m+":"+s;
            t=setInterval('time()',500)
        }
        function check(i){
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }
        }
    </script>
    <div class="d-flex flex-column  flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Blog & Bookmarks</h5>
        <h5 class="my-0 mr-md-auto font-weight-normal" id="time">Time</h5>
        <script type="text/javascript"> time('time')</script>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/blog/add">Add new article</a>
            <a class="p-2 text-dark" href="/bookmarks">Bookmarks</a>
            <a class="p-2 text-dark" href="/bookmarks/add">Add new Bookmarks</a>
        </nav>
    </div>
</div>