<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit your bookmark</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container mt-5 md-5">
    <form th:object="${bookmark}" method="post">
        <input type="text" th:field="*{anons}"name="anons" placeholder="Anons" class="form-control"><br>
        <input type="text" th:field="*{site}"name="site" placeholder="Site" class="form-control"><br>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>

</body>
</html>